@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(swc) important;
@import "tailwindcss/utilities.css" layer(utilities) prefix(swc) important;

@layer base {
    #swc-root {
        @import "tailwindcss/preflight.css" important;
    }
}

@plugin "daisyui";

@import "../style.css";
